@charset "UTF-8";
:root {
  --gray--50: #fafafa;
  --gray--100: #f4f4f5;
  --gray--300: #d4d4d8;
  --gray--400: #a1a1aa;
  --gray--500: #71717a;
  --gray--800: #27272a;
  --gray--900: #18181b;
  --white: #fff;
}

/*** input, button unset ***/
.unset {
  all: unset;
}
.border-box{
  box-sizing: border-box;
}

/*** font ***/
/* font-family */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KoPubDotumMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

.pretendard {
  font-family: "Pretendard-Regular", serif;
}
.kopubBatang {
  font-family: "KoPub Batang", serif;
}
.kopubDotum {
  font-family: "KoPubDotumMedium", serif;
}

/* font-weight */
.font-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-black {
  font-weight: 900;
}
/* font-color */

/*** margin ***/
.m-4 {
  margin: 4px;
}
.m-8 {
  margin: 8px;
}
.m-12 {
  margin: 12px;
}
.m-16 {
  margin: 16px;
}
.m-20 {
  margin: 20px;
}
.m-24 {
  margin: 24px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-24 {
  margin-left: 24px;
}
.mx-4 {
  margin-right: 4px;
  margin-left: 4px;
}
.mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}
.mx-12 {
  margin-right: 12px;
  margin-left: 12px;
}
.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}
.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}
.mx-24 {
  margin-right: 24px;
  margin-left: 24px;
}
.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

/*** width ***/
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-1\/4 {
  width: 25%;
}
.w-2\/4 {
  width: 50%;
}
.w-3\/4 {
  width: 75%;
}
.w-1\/5 {
  width: 20%;
}
.w-2\/5 {
  width: 40%;
}
.w-3\/5 {
  width: 60%;
}
.w-4\/5 {
  width: 80%;
}
.w-1\/6 {
  width: 16.666667%;
}
.w-2\/6 {
  width: 33.333333%;
}
.w-3\/6 {
  width: 50%;
}
.w-4\/6 {
  width: 66.666667%;
}
.w-5\/6 {
  width: 83.333333%;
}
.w-1\/12 {
  width: 8.333333%;
}
.w-2\/12 {
  width: 16.666667%;
}
.w-3\/12 {
  width: 25%;
}
.w-4\/12 {
  width: 33.333333%;
}
.w-5\/12 {
  width: 41.666667%;
}
.w-6\/12 {
  width: 50%;
}
.w-7\/12 {
  width: 58.333333%;
}
.w-8\/12 {
  width: 66.666667%;
}
.w-9\/12 {
  width: 75%;
}
.w-10\/12 {
  width: 83.333333%;
}
.w-11\/12 {
  width: 91.666667%;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-min {
  width: min-content;
}
.w-max {
  width: max-content;
}
.w-fit {
  width: fit-content;
}

/*** height ***/
.h-50 {
  height: 50px;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-main{
  height:calc(100vh - 50px);
}
.min-h-70 {
  min-height: 70px;
}
.max-h-100 {
  max-height: 100px;
}

/*** background-color ***/
.bg-50 {
  background-color: var(--gray--50);
}
.bg-100 {
  background-color: var(--gray--100);
}
.bg-300 {
  background-color: var(--gray--300);
}
.bg-400 {
  background-color: var(--gray--400);
}
.bg-500 {
  background-color: var(--gray--500);
}
.bg-800 {
  background-color: var(--gray--800);
}
.bg-900 {
  background-color: var(--gray--900);
}
.bg-white {
  background-color: var(--white);
}

/*** text-color ***/
.tc-50 {
  color: var(--gray--50);
}
.tc-100 {
  color: var(--gray--100);
}
.tc-300 {
  color: var(--gray--300);
}
.tc-400 {
  color: var(--gray--400);
}
.tc-500 {
  color: var(--gray--500);
}
.tc-800 {
  color: var(--gray--800);
}
.tc-900 {
  color: var(--gray--900);
}
.tc-white {
  color: var(--white);
}

/*** hover background-color ***/
.hover-bg-50:hover {
  background-color: var(--gray--50);
}
.hover-bg-100:hover {
  background-color: var(--gray--100);
}
.hover-bg-300:hover {
  background-color: var(--gray--300);
}
.hover-bg-400:hover {
  background-color: var(--gray--400);
}
.hover-bg-500:hover {
  background-color: var(--gray--500);
}
.hover-bg-800:hover {
  background-color: var(--gray--800);
}
.hover-bg-900:hover {
  background-color: var(--gray--900);
}
.hover-bg-white:hover {
  background-color: var(--white);
}

/*** hover text-color ***/
.hover-tc-50:hover {
  color: var(--gray--50);
}
.hover-tc-100:hover {
  color: var(--gray--100);
}
.hover-tc-300:hover {
  color: var(--gray--300);
}
.hover-tc-400:hover {
  color: var(--gray--400);
}
.hover-tc-500:hover {
  color: var(--gray--500);
}
.hover-tc-800:hover {
  color: var(--gray--800);
}
.hover-tc-900:hover {
  color: var(--gray--900);
}
.hover-tc-white:hover {
  color: var(--white);
}

.active-b-800:focus {
  border: 1px solid var(--gray--800);
}
.active-control {
  transition: 0.2s;
}
.active-control:active {
  background-color: var(--gray--900);
  color: var(--gray--50);
}

/*** border-radius ***/
.br-4 {
  border-radius: 4px;
}
.br-8 {
  border-radius: 8px;
}
.br-12 {
  border-radius: 12px;
}
.br-16 {
  border-radius: 16px;
}
.br-20 {
  border-radius: 20px;
}
.br-24 {
  border-radius: 24px;
}
.br-circle {
  border-radius: 50%;
}
.br-left {
  border-radius: 10px 0 0 10px;
}
.br-right {
  border-radius: 0 10px 10px 0;
}

/*** border ***/
.b-50 {
  border: 1px solid var(--gray--50);
}
.b-100 {
  border: 1px solid var(--gray--100);
}
.b-300 {
  border: 1px solid var(--gray--300);
}
.b-400 {
  border: 1px solid var(--gray--400);
}
.b-500 {
  border: 1px solid var(--gray--500);
}
.b-800 {
  border: 1px solid var(--gray--800);
}
.b-900 {
  border: 1px solid var(--gray--900);
}

/*** padding ***/
/* all */
.p-4 {
  padding: 4px;
}
.p-8 {
  padding: 8px;
}
.p-12 {
  padding: 12px;
}
.p-16 {
  padding: 16px;
}
.p-20 {
  padding: 20px;
}
.p-24 {
  padding: 24px;
}
/* padding top */
.pt-4 {
  padding-top: 4px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-12 {
  padding-top: 12px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-24 {
  padding-top: 24px;
}
/* padding bottom */
.pb-4 {
  padding-bottom: 4px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-24 {
  padding-bottom: 24px;
}
/* padding left */
.pl-4 {
  padding-left: 4px;
}
.pl-8 {
  padding-left: 8px;
}
.pl-12 {
  padding-left: 12px;
}
.pl-16 {
  padding-left: 16px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-24 {
  padding-left: 24px;
}
/* padding right */
.pr-4 {
  padding-right: 4px;
}
.pr-8 {
  padding-right: 8px;
}
.pr-12 {
  padding-right: 12px;
}
.pr-16 {
  padding-right: 16px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-24 {
  padding-right: 24px;
}
/* x축 */
.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
/* y축 */
.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}
.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
/* xy */
.pxy-8-2 {
  padding: 2px 8px;
}

/*** font size ***/
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}

/*** display ***/
.flex {
  display: flex;
}
.block {
  display: block;
}
.inline {
  display: inline;
}

/*** flex ***/
/* justify-content */
.f-jc-center {
  justify-content: center;
}
.f-jc-around {
  justify-content: space-around;
}
.f-jc-between {
  justify-content: space-between;
}
.f-jc-evenly {
  justify-content: space-evenly;
}
.f-jc-start {
  justify-content: flex-start;
}
.f-jc-end {
  justify-content: flex-end;
}
/* align-item */
.f-ai-center {
  align-items: center;
}
.f-ai-start {
  align-items: flex-start;
}
.f-ai-end {
  align-items: flex-end;
}
/* flex-direction- */
.f-column {
  flex-direction: column;
}
.f-row {
  flex-direction: row;
}
/* flex-wra */
.f-nowrap {
  flex-wrap: nowrap;
}
.f-wrap {
  flex-wrap: wrap;
}
/* basis */
.f-basis {
  flex-basis: 0;
}
